/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #134934;
    color: #076f9e;
}

header {
    background-color: #4CAF50;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(126, 22, 22);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(81, 24, 60);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    text-align: center;
    color: #4CAF50;
}

main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

main p {
    line-height: 1.6;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}